{% extends 'index.html' %}{% load static%} {% block title %}INICIAR SESION{% endblock %}{% block centro %} {% if user.is_authenticated %}
<p>Sesion iniciada como {{user.username}}</p>
{% else %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Usuario</label> {{form.username}}
    </div>
    <hr>
    <div class="form-group">
        <label for="id_password">Contraseña:</label> {{form.password}}
    </div>
    <button type="submit">ENVIAR</button>
</form>
{% endif%} {% endblock%}